<!DOCTYPE html>
<html>

<head>
    <title>Portal do Aluno</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css' rel='stylesheet'>
</head>

<body class='bg-light'>
    <nav class='navbar navbar-dark bg-primary p-3 mb-4'>
        <span class='navbar-brand'>Aluno: {{ current_user.nome }}</span>
        <a href='/logout' class='btn btn-light btn-sm'>Sair</a>
    </nav>
    <div class='container'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}<div class='alert alert-warning'>{{ messages[0] }}</div>{% endif %}
        {% endwith %}

        <div class='row'>
            <div class='col-md-8'>
                <h3>Provas Disponíveis</h3>
                <div class='list-group mt-3'>
                    {% for prova in provas %}
                    <div class='list-group-item d-flex justify-content-between align-items-center'>
                        {{ prova.titulo }}

                        {% if prova.id in ids_feitas %}
                        <button class='btn btn-secondary btn-sm' disabled>Já Realizada</button>
                        {% else %}
                        <a href='/fazer_prova/{{ prova.id }}' class='btn btn-success btn-sm'>Iniciar Prova</a>
                        {% endif %}
                    </div>
                    {% else %}
                    <p>Nenhuma prova disponível.</p>
                    {% endfor %}
                </div>
            </div>

            <div class='col-md-4'>
                <div class='card'>
                    <div class='card-header bg-warning'>Histórico e Certificados</div>
                    <ul class='list-group list-group-flush'>
                        {% for res in resultados %}
                        <li class='list-group-item'>
                            <div class="d-flex justify-content-between">
                                <span>Prova #{{ res.prova_id }}</span>
                                <strong>Nota: {{ "%.1f"|format(res.nota) }}</strong>
                            </div>

                            {% if res.nota >= 7.0 %}
                            <div class="mt-2 text-end">
                                <a href="/certificado/{{ res.id }}" class="btn btn-outline-primary btn-sm">🏆 Baixar
                                    Certificado</a>
                            </div>
                            {% endif %}
                        </li>
                        {% else %}
                        <li class='list-group-item'>Nenhum resultado ainda.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>